@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.App {
  text-align: center;
  color: rgb(158, 6, 241);
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.App h1 {
  font-size: 8rem;
}

.album {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-cover {
  width: 300px;
  border-radius: 1rem;
}

/* Fancy Anim */
.glow {
  animation-duration: 2s;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes glow {
  from {
    text-shadow: -2px 2px rgb(255 70 175);
  } to {
    text-shadow: 2px 2px rgb(0, 0, 0);
  }
}
