@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.App {
  text-align: center;
  color: rgb(158, 6, 241);
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.App h1 {
  font-size: 8rem;
}
